<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <h1>Instant and free conference rooms!</h1>
  <p>
    Simply choose between voice-only or voice+video (both cases also 
    have text chat) and start a conference for up to 5 Participants. 
  </p>
  <p>
    <a class="btn btn-primary btn-large" href="#/session/video/{{ token }}">Video &raquo;</a> 
    <a class="btn btn-primary btn-large pull-right" href="#/session/voice/{{ token }}">Voice &raquo;</a>
  </p>
</div>

<footer class="footer">
  <div class="row" style="text-align: center">
    <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=phowat&repo=get-a-room&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
    <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=phowat&repo=get-a-room&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
    <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=phowat&repo=get-a-room&type=follow&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="150px" height="20px"></iframe>
  </div>
    <hr>
        <p>&copy; <a href="http://phow.at">phow.at</a> 2013</p>
</footer>

